<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title style="text-align: center;">Activities</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card>
  <ion-card-header>
    <ion-card-title>Sunday Worship:</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    9:30 am - 11:30 am
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-title>Prayer Meeting:</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Friday 7:00pm - 8:30pm
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-title>Children's Worship:</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    8:30 am - 9:00 am
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-title>Youth's Fellowship:</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Last Week of the Month
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-title>Overnight Prayer Meeting:</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Last Friday of the Month: 9:00pm till dawn
  </ion-card-content>
</ion-card>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button ion-button large (click)="RedirectToOtherPage1()" color="light">
      <div>
        <ion-icon color="primary" name="home"></ion-icon>
        <div>Home</div>
      </div>
    </ion-button>
    <ion-button ion-button large (click)="RedirectToOtherPage2()" color="light">
      <div>
        <ion-icon color="primary" name="chevron-up-outline"></ion-icon>
        <div>Actvities</div>
      </div>
    </ion-button>
    <ion-button ion-button large (click)="RedirectToOtherPage3()" color="primary">
      <div>
        <ion-icon  name="list"></ion-icon>
        <div>Service</div>
      </div>
    </ion-button>
    <ion-button ion-button large (click)="RedirectToOtherPage4()" color="light">
      <div>
        <ion-icon color="primary" name="person-circle-outline"></ion-icon>
        <div>Profile</div>
      </div>
    </ion-button>
  </ion-toolbar>
</ion-footer>