<ion-content [fullscreen]="true">

  

  <div class="container">
    <ion-label class="logo1">SUBIC PAG-ASA</ion-label>
    <br>
    <ion-label class="logo2">Christian Church</ion-label>
  </div>
  <h1 class="sign">Log In</h1>
  <form class="inputs" [formGroup]="loginForm">
    <ion-label class="inputName">Email</ion-label>
      <ion-input formControlName="email" placeholder="Email Address"></ion-input>
      <ion-label class="inputName">Password</ion-label>
      <ion-input formControlName="password" placeholder="Password">
      </ion-input>

    <div class="bottom-section">
      <ion-button (click)="login()" color="primary">
        Log in
      </ion-button>
      <ion-button (click)="RedirectToOtherPage1()" color="primary" class="btn">Sign Up</ion-button>
    </div>
  </form>
</ion-content>
